# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Secret keys
.env
*.env
service-account-key.json

# User-generated content
uploads/
completed/

# OS / IDE specific
.DS_Store
.vscode/